<nav class="navbar navbar-expand-lg bg-body-tertiary bg-white border-bottom fixed-top shadow-sm">
  <div class="container-fluid px-4 p-2">
    <!-- img logo -->
    <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px" routerLink="/">

    <!-- button nav-bar -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main"
      aria-expanded="false" aria-label="Toggle navigation">
      <!-- Button With FontAwesome -->
      <i class="fa fa-solid fa-bars"></i>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="main">
      <ul class="navbar-nav text-uppercase mx-auto text-center mb-2 mb-lg-0 fs-3"> <!-- text-uppercase -->
        <li class="nav-item">          <!-- routerLink="/" Go to page home --> 
          <a class="me-3 py-2" 
          routerLink="/" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="me-3 py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item">
          <a class="me-3 py-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
        </li>
      </ul>

      <!-- Subscribe Login | Sign up -->
      <div class="d-flex align-items-center justify-content-center">
        <a class="position-relative">
          <!-- when uninstall bootswatchtheme # add For i text-dark in class -->
          <i class="fa fa-shopping-cart fa-2x me-5"></i>
          <div class="cart-no">5</div>
        </a>
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Sign up</a>
      </div>
    </div>
  </div>
</nav>